.bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b14169d;
    transition-duration: .3s;
    opacity: 0;
    visibility: hidden;
    z-index: 2;

}

.img_container {
    max-width: 700px;
    max-height: 700px;

    img {
        width: 100%;
        max-height: 600px;
    }
}

.active_bg {
    opacity: 1;
    visibility: visible;
}