.loader {
    position: relative;
    z-index: 2;
    flex: 1;
    background-color: var(--document-color);

    &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 100px;
        height: 100px;
        border: 10px solid transparent;
        border-radius: 50%;
        border-right-color: rgba(217, 217, 217, 0.37);
        border-top-color: rgba(217, 217, 217, 0.37);
        animation: loader .5s infinite linear;
    }
}

@keyframes loader {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}