.info_page {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 15px;

    font-family: Inter;
    color: white;
}

.content {
    max-width: 1080px;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
        color: rgb(110, 110, 235);
    }
}

.title {
    font-weight: 700;
    font-size: 30px;
}

.text {
    max-width: 1000px;
    margin-left: 50px;
    line-height: 25px;

    margin-top: 20px;
}