.submit_btn {
    width: 100%;
    margin-top: 24px;
    padding: 12px 20px;
    background-color: #3b49df;
    border-radius: 5px;
    transition-duration: .2s;

    font-family: Inter;
    font-size: 17px;
    color: white;

    &:hover {
        background-color: #2f3ab2;
    }
}