.nav {
    gap: 13px;
    margin-left: auto;
    align-items: center;
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px solid rgba(217, 217, 217, 0.37);

    a {
        width: 25px;

        img {
            width: 100%;
        }
    }
}